@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

html {
  background-color: #F3F3F3;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  text-align: center;
  padding-top: 55px;
}
h2 {
  text-align: center;
  font-family: 'Original Surfer', cursive;
  font-weight: normal;
  font-size: 26px;
}
button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-family: 'Original Surfer', cursive;
  cursor: pointer;
  color: white;
}
.homeButtons {
  float: right;
  padding-right: 25px;
  margin-top: 30px;
}
a {
  text-decoration: none;
  color: black;
  cursor: default;
}
.tasksContainer {
    margin-top: 140px;
    padding: 25px;
}
.task {
  display: grid;
  background-color: #D3D3D3;
  padding: 27px;
  border-radius: 10px;
  margin-bottom: 30px;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 24px;
}
svg {
  padding: 0px 15px;
  margin-right: 10px;
  cursor: pointer;
}
.taskIcons {
  float: right;
}
.form-control {
  display: grid;
  grid-template-columns: auto auto;
  width: 90%;
}
input {
  font-size: 25px;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 5px;
  font-family: 'Shadows Into Light Two', cursive;
  height: 45px;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#save {
  margin-left: 240px;
}
@media only screen and (max-width: 550px) {
  .homeButtons {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
  }
  .tasksContainer {
      margin-top: 20px;
      padding: 0px;
  }
  .taskIcons {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .task {
    text-align: center;
  }
  svg {
    margin-top: 15px;
  }
  .form-control {
    grid-template-columns: none;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #save {
    margin-left: 50px;
  }
}
